<!DOCTYPE html>
<html>
  <head>
    <title>Helpjuice</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= nav_bar fixed: :top, brand: "Helpjuice" do %>
      <%= menu_group do %>
          <%= menu_item "Search", root_path %>
          <%= menu_item "Articles", articles_path %>
      <% end %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
